body{
 background-color:white;
 }


.container{
  background-color:white;
}
.new{
  text-align: center;
  width: 100%;
  border-radius: 7px;
  border-left: 1px solid gray;
  
}
button:focus { outline: none; }
.elements button{
    position:relative;
    font-size:30px;
    border: none;
    display: block;
    width:20%;
    height:fit-content;
    color:black;
    border-bottom: 1px solid gray;
    padding: 15px 32px;
    background: transparent;
    cursor: pointer;
    width: 500px;

}
.days{
   color: blanchedalmond;
   text-align:center;
   height: 70px;
   background-color:black;
   margin:0px;
   padding:0px;
   font-size:50px;
   margin-bottom: 20px;
   }

.elements{
  float:left;
  
  height:700px;
  overflow: scroll;
  position: fixed;
}

#Star_Details{
  display:none;
}
#bk_Details{
  display: none;
}

.pannel{
  text-align: center;
  float: left;
 
 
  
}
.time{
  float: left;
  color: black;
  text-align: center;
  padding: 20px;
  position: relative;
}
.sub{
  float:right;
  position: relative;
  display:block;
  text-align: center;
  width: 500px;
  border-left: 2px solid grey;

  border-bottom: 2px solid white ;
  margin-bottom: 20px;
}
.sub button{
  position:relative;
  border: none;
  display: block;
  width:20%;
  height:fit-content;
  color:black;
  font-size: 20px;
  padding: 15px 32px;
  background: transparent;
  cursor: pointer;
  width: 500px;
  text-align: center;
}

.cover{
 
  margin-left: 550px;
  border-right: 1px solid gray;
  text-align: center;
  
  
  
}

#Imagev{
  margin-left: 500px;
  width:900px;
}
.new{
  float: left;
  text-align: center;
  
}

.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  text-align: center;
}


.dropdown {
  position: relative;
  display: block;
  text-align: center;
  color: #3e8e41;
 
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  text-align: center;
  margin-left: 175px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}



.elements button:hover {
    background-color:white;
  }
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .sticky + .content {
    padding-top: 102px;
  }


